:root {
  --orange-color: #da722c;
  --dark-blue: #057ada;
  --light-blue: #6f7dfb;
  --light-gray: #e8f7fb;
  --dark-gray: #023047;
  --dark-primary: #070917;
  --primary-white: #fff;
  --header-color: #26308c;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}
section {
  margin-top: 100px;
}

.btn {
  position: relative;
  padding: 16px 32px;
  border-radius: 24px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  color: var(--primary-white);
}
h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  margin: 0;
  color: var(--dark-gray);
}
header {
  background: linear-gradient(
    180deg,
    var(--light-blue) 0%,
    var(--header-color) 100%
  );
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  width: 1134px;
}
nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: var(--primary-white);
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 60px;
}
nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-white);
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
}
.hero-section .left {
  flex: 1;
}
.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 0;
  color: var(--primary-white);
}
.hero-section .left p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--primary-white);
  width: 457px;
}
.hero-section .right {
  align-self: flex-end;
}
.hero-section .right img {
  height: 520px;
  vertical-align: middle;
}

.acheivement-card {
  position: absolute;
  min-width: 200px;
  z-index: 5;
}
.acheivement-card .content {
  background: var(--primary-white);
  border-radius: 24px;
  padding: 8px 32px;
  position: relative;
}
.acheivement-card .content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0;
  width: 100%;
  color: var(--dark-gray);
}
.acheivement-card p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: var(--dark-gray);
}
.acheivement-card .bg {
  background: linear-gradient(180deg, var(--light-blue) 0%, #3b448f 100%);
  position: absolute;
  border-radius: 24px;
  z-index: -1;
  left: 7px;
  top: 7px;
  width: 100%;
  height: 100%;
}
.acheivement-card.students-enrolled {
  left: 49%;
  top: 270px;
}
.acheivement-card.overall-ratings {
  position: absolute;
  left: 47%;
  top: 470px;
}
.acheivement-card .content div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.acheivement-card .content div img {
  height: 40px;
  width: 40px;
}
.right p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-gray);
}
.testimonial-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.relative-testimony {
  position: absolute;
  left: 90px;
  top: -20px;
  height: 115%;
  width: 28px;
  z-index: -1;
  border-radius: 24px;
  background: var(--dark-gray);
}
.testimonial-section .left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 442px;
  height: 195px;
  background: var(--primary-white);
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.info h4 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  margin: 15px;
  padding: 0;
  color: var(--dark-gray);
}
.info p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-top: -10px;
  margin-left: 15px;
  color: #023047;
}
.content {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  border-radius: 24px;
  line-height: 150%;
  padding: 24px;
  width: 100%;
  margin: 0;
  color: var(--primary-white);
}
.card-1 .content {
  background: var(--light-blue);
}
.card-2 .content {
  padding: 30px;
  background: var(--orange-color);
}
.card-2 {
  left: 35px;
  top: 15px;
}
.testimonial-card img {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.courses-section {
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--light-blue) 0%,
    var(--header-color) 100%
  );
}
.courses-section .wrapper{
  height: 100%;
  padding: 25px;
  position: relative;
  margin: 0 auto;
}
.courses-section h2 {
  color: var(--primary-white);
  text-align: center;
}
.course-cards {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  gap: 25px;
}
.course-cards .btn{
  position: absolute;
  bottom: 10px;
  right: 0;
}
.course-card {
  background: var(--primary-white);
  border-radius: 24px;
  position: relative;
}
.relative-course-card{
  height: 8px;
  width: 90%;
  background-color: var(--dark-gray);
  margin: 0 auto;
  padding: 0;
  border-radius: 24px;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.course-card img {
  padding: 0 25px 0 25px;
  margin: 0;
}
.course-card .info {
  display: flex;
  gap: 15px;
  padding: 0 25px 0 25px;
  justify-content: space-between;
  align-items: center;
}
.course-card .info h3 {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: var(--dark-gray);
}
.duration{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: var(--dark-gray);
}
.btn.dark {
  background: var(--dark-gray);
}
.btn.light {
  background: var(--orange-color);
}
.enroll {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}
